 <!-- Aqui el menú de navegación -->
    <header>
        <h1><a href="/">MOEHUB</a></h1>
        <ul>
            <li><a href="/about">¿Quienes somos?</a></li>
            <li><a href="/cartelera">Cartelera</a></li>
        </ul>
    </header>