{{> head }}
    
    {{> header }}

    
    <!-- Aquí imagen principal -->
    <!-- Aquí muestra las series principales -->
    <div class="series">
        <h1>¿Quienes somos?</h1>
        <div class="content">
        <hr> <br>
        {{text1}} <br><br>
        {{text2}} <br><br>
        {{text3}} <br><br>
        </div>
        <h1>Nuestro equipo</h1>
        <div>
            <ul>
                <li>
                    <img src="assets/goldo.jpg" alt="">
                </li>
                <li>
                    <img src="assets/madna.jpg" alt="">
                </li>
                <li>
                    <img src="assets/negris.jpg" alt="">
                </li>
                <li>
                    <img src="assets/abuelo.jpg" alt="">
                </li>
                <li>
                    <img src="assets/chino.jpg" alt="">
                </li>
            </ul>
        </div>

    </div>

{{> footer  }}